@font-face {
    font-family: gilroy;
    font-weight: bold;
    src: url("./Gilroy-ExtraBold.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    font-family: gilroy;
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #000;
}

#nav {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 80px;
    justify-content: space-between;
}

#nav-prt2 {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

#nav h1 {
    font-size: 15px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    /* margin-bottom: 5px; */
}

#nav i {
    margin-right: 5px;
    font-size: 20px;
}

#nav h5 {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

#nav img {
    height: 40px;
}

#line {
    width: 80px;
    height: 2px;
    background-color: red;
}

#content {
    font-family: gilroy;
    height: calc(100% - 120px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    /* background-image: url(https://media2.giphy.com/media/3ov9jL6YCEBtw9hF2o/200w.webp?cid=ecf05e47xsrt3uvkm4ec97klswvi5d8cc3fnpjt2xy3byd4f&ep=v1_gifs_search&rid=200w.webp&ct=g); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
}

#left {
    /* border: 1px solid red; */
    width: 39%;
    height: 100%;
    padding: 110px 80px;
}

#right {
    /* border: 1px solid blue; */
    width: 35%;
    height: 100%;
    padding: 270px 90px;
}

#center {
    /* border: 1px solid #fff; */
    width: 20%;
    height: 100%;
    padding-top: 60px;
}

#left h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    margin-bottom: 50px;
}

#left h1 span {
    color: red;
    font-weight: 500;
}

#left p {
    margin-bottom: 50px;
    font-size: 15px;
    width: 80%;
    line-height: 24px;
}

#left button {
    background-color: red;
    padding: 15px 38px;
    border-radius: 40px;
    font-size: 18px;
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    font-weight: 700;
}

#left button i {
    margin-right: 10px;
}

#center-bg {
    /* background-color: blue; */
    /* height: 100%; */
    width: 100%;
    margin-left: 1vw;
    height: 88%;
    border-top-left-radius: 1000px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(https://i.pinimg.com/originals/0c/c9/69/0cc9697425b67da13fe1af9e69c4fc08.jpg);
    background-size: 450%;
    background-position: 30% 40%;
    filter: blur(3px);
}

#content>img {
    height: 80%;
    position: absolute;
    left: 52.1%;
    top: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
}

#right-elems {
    width: 350px;
}

#elem1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    opacity: 0.6;
    border-bottom: 1px solid #fff;
}

#elem1 h1 {
    font-size: 24px;
    font-weight: 600;
}

#elem1 i {
    font-size: 24px;
}

#elem2 h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top: 15px;
}

#elem2 p {
    font-size: 12px;
    width: 80%;
    opacity: 0.6;
}